<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	<title><%= full_title(yield(:title)) %> test </title>
=======
	<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
>>>>>>> b94f1763aed70bef65fae8752cec09d36da20ef9
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
